.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.75rem;
  color: #d9d9d9;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.2s;
  font-weight: 500;
}

.navItem:hover {
  background-color: #1a1a1a;
}

.navItem span:last-child {
  font-size: 0.75rem;
}

.icon {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
